<section id="banner2" >
    <h2>SettleUp</h2>
    <p>you worry about having fun, we'll worry about the tab</p>
</section>



<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Your Upcoming Events</h2>
    </header>


	<div class="table-wrapper">
		<table class="alt">
			<thead>

			</thead>
			<tbody>
				<tr ng-repeat="event in data.events">
					<td >
						<h1>
						<a ng-click='getEvent(event)'> {{event.name}} -- {{event.date | date: 'fullDate'}} </a>
            <input style='float: right' type="button" value="DELETE" ng-click="deleteEvents(event)" class="button special small">
						</h1>
					</td>
				</tr>
			</tbody>





		</table>

	 </div>
  </div>
</section>
