<section id="banner2" >
    <h2>SettleUp</h2>
    <p>you worry about having fun, we'll worry about the tab</p>
</section>

<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Event Details</h2>
    </header>
    <!-- <div>D3 Data Debug: {{payments}} </div> -->
  	<div>

  		<div>
  		  <h2>What: {{details.event.name}}</h2>
  		  <h3>Where: {{details.event.location}}</h3>
  		  <h3>When: {{details.event.date| date: 'fullDate'}}</h3>
        <h3>Cost Per Person: $ {{average  | number : 2}}</h3>
        <h3>Created By: {{details.creatorName}}</h3>
  		</div>
      <div class="nodemailer button" ng-click="showTab()" style="margin: 5px 0px">Show the Tab!</div>
        <div class="settleInfo" ng-show="settling" style="margin: 10px 0px" >
          <div class="nodemailer button" ng-show="settling" ng-click="settleUp()" style="margin: 5px 0px">Send Email to tell people what to pay</div>
          <li ng-repeat="payment in payments" style='line-height: 30px; font-size: 17px'> <b>{{payment.from}}</b> PAYS <b>{{payment.to}} </b> $ {{payment.amount | number : 2}}</li>
          <div class='d3vis' ng-model='payments'></div>
      </div>
      <div>
      </div>

      <!-- Drag-and-Drop Table -->
      <div class="table-wrapper">
    		<div class="itemsTable row">
          <div ng-repeat="(guestInfo, list) in models.guests" class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{{getName(guestInfo)}}
                <div class='button special small xsmall' style="margin: 5px 0px" ng-show="isUninviteable(guestInfo)" ng-click='deleteGuest(getId(guestInfo))'> can't go </div></h3>
                <div ng-show="isPerson(guestInfo)"class="spent">
                  <p class="amount" style='background: #CEE3F6; padding: 3px'>Spent: ${{getSpent(getId(guestInfo))}} </p>
                </div>
              </div>
              <div class="panel-body">
                <!-- <div class='button special small' style="margin: 5px 0px" ng-show="isUninviteable(guestInfo)" ng-click='deleteGuest(getId(guestInfo))'> can't go </div> -->
                <ul dnd-list="list"
                    dnd-drop="reassignItem(item, guestInfo)">
                  <li ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      >
                      <div>{{item.name}}</div><div ng-click="isSelected(item)">${{item.price}}</div>
                      <div><input type='number' ng-model="newPrice" ng-show="item.show" placeholder='New cost' /></div>
                      <div><input style='margin: 5px 0px'ng-show="item.show" value='Update Cost' type="submit" class="nodemailer button" ng-click="changePriceOfItem(item, newPrice)" /></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <!-- Empty array prevents error from dnd-moved -->
            <ul dnd-list="[]"
                dnd-drop="deleteItem(item.id)">
                <li>Remove Item</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div>
      <h5>Forget anything?</h5>
      <!-- add item field -->
      <form novalidate name='eventItemDetails'>
      <div>Items:</div>
        <div>
        <span style="display:inline-block">
          <input type="text" ng-model="itemName" name="nameOfItem" id="addItem" placeholder="Enter Item" required>
        </span>
        <span style="display:inline-block">
          <input type="number" ng-model="itemPrice" name="priceOfItem" id="addItem" placeholder="Enter Item Cost"  required>
        </span>
        <!-- add item button -->
        <input value='Add item' type="submit" class="nodemailer button"
        ng-click="addItemFunc(itemName, itemPrice)"
        ng-disabled='!eventItemDetails.nameOfItem.$valid'/>
        </div>

        <!-- add guest field  -->

          <div>People:</div>
        <div>
        <span style="display:inline-block">
          <input type="text" ng-model="guestName" name="addGuest" id="addGuest" value="" placeholder="Enter Guest" required/>
        </span>
        <span style="display:inline-block">
          <input type="email" ng-model="guestEmail" name="addEmail" id="addEmail" value="" placeholder="Enter Email" required/>
        </span>

        <!--add guest button  -->
        <input type="submit" class="nodemailer button" value='Add guest'
        ng-click="addGuestFunc(guestName, guestEmail)"
        ng-disabled='!eventItemDetails.addGuest.$valid || !eventItemDetails.addEmail.$valid'/>
      </div>

      <br><br>

      <!-- Send email button -->
      <!-- <button type="button" class="nodemailer button" ng-click="emailInvites()">
        Send Event Invitation to Guests!
      </button> -->
    </form>
      </div>
  </div>
  <style>

    path.link {
      fill: none;
      stroke: #666;
      stroke-width: 1.5px;
    }

    circle {
      fill: #ccc;
      stroke: #fff;
      stroke-width: 1.5px;
    }

    text {
      fill: #000;
      font: 10px sans-serif;
      pointer-events: none;
    }
  </style>
</section>
