<section id="banner" >
	<h2>Beer or Chip</h2>
	<p>everyone makes the party</p>
</section>

<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Event Details</h2>
    </header>
  	<div>
  		<div>
  		  <h4>What: {{details.event.name}}</h4>
  		  <h5>Where: {{details.event.location}}</h5>
  		  <h5>When: {{details.event.date| date: 'fullDate'}}</h5>
        <p>Created By: {{details.creatorName}}</p>
  		</div>

      <!-- Drag-and-Drop Table -->
      <div class="table-wrapper">
    		<div class="itemsTable row">
          <div ng-repeat="(guestInfo, list) in models.guests" class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">{{getName(guestInfo)}}</h3>
              </div>
              <div class="panel-body" >
                <h4 ng-click='deleteGuest(getId(guestInfo))'> uninvite </h4></a>
                <ul dnd-list="list"
                    dnd-drop="reassignItem(item, guestInfo)">
                  <li ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      >
                      {{item.name}}
                  </li>
                </ul>
              </div>
              </div>
          </div>
          <div>
            <!-- Empty array prevents error from dnd-moved -->
            <ul dnd-list="[]"
                dnd-drop="deleteItem(item.id)">
                <li>Remove Item</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div>
      <h5>Forget anything?</h5>
      <!-- add item field -->
      <form novalidate name='eventItemDetails'>
        <span style="display:inline-block">
          <input type="text" ng-model="itemName" name="nameOfItem" id="addItem" placeholder="Enter Item" required>
        </span>

        <!-- add item button -->
        <input value='Add item' type="submit" class="nodemailer button" ng-click="addItemFunc(itemName)" ng-disabled='!eventItemDetails.nameOfItem.$valid'/>

        <!-- add guest field  -->
        <span style="display:inline-block">
          <input type="text" ng-model="guestName" name="addGuest" id="addGuest" value="" placeholder="Enter Guest" required/>
        </span>
        <span style="display:inline-block">
          <input type="email" ng-model="guestEmail" name="addEmail" id="addEmail" value="" placeholder="Enter Email" required/>
        </span>

        <!--add guest button  -->
        <input type="button" class="nodemailer button" value='Add guest' ng-click="addGuestFunc(guestName, guestEmail)" ng-disabled='!eventItemDetails.addGuest.$valid || !eventItemDetails.addEmail.$valid'>
      </div>

      <br><br>

      <!-- Send email button -->
      <button type="button" class="nodemailer button" ng-click="email()">
        Send Event Details to Guests
      </button>
    </form>
  </div>
</section>
